.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .section-title {
        font-size: 36px;
    }
}