.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 738px;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-title {
    margin-bottom: 30px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .section-title {
        font-size: 36px;
    }
}