.hero {
    max-width: 1600px;
    height: 600px;
    border: 1px solid black;

    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/mob-header.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #c4c4c4;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
            url('../images/mob-header2x.jpg');
        }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #c4c4c4;
}

.hero-title {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

@media screen and (min-width: 480px) {
    .hero {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/mob-header.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
            url('../images/mob-header2x.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/header-tab.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
            url('../images/header-tab2x.jpg');
        }
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), 
            url('../images/header-tab2x.jpg');
        }
    }
}    


@media screen and (min-width: 1200px) {
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../images/img-hero.jpg');
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url('../images/img-hero@2x.jpg');
        }
    }
    
    .hero-title {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}




